@import "../variables.sass"

.grid-panel
	margin-top: 1rem
	display: grid
	grid-template-columns: 1fr $sticky-panel-size
	grid-template-rows: 1fr
	margin-bottom: 2rem

.grid-no-panel
	margin-top: 1rem
	display: grid
	grid-template-columns: 1fr
	grid-template-rows: 1fr
	margin-bottom: 2rem

.content
	grid-column-start: 1
	grid-column-end: 2
	grid-row-start: 1
	grid-row-end: 2
	overflow-y: hidden


.item-solution
	justify-content: center
