@use "../../variables.sass" as vars

.fixed-panel
	position: fixed
	top: 0
	right: 1%
	width: vars.$sticky-panel-size
	z-index: 0
	height: 100%
	margin: 1rem 0 0 0 

.menu-off
	position: relative
	top: vars.$menu-row-1
	height: vars.$menu-row-1 
	margin: auto auto auto auto
	width: 50%

.items
	position: relative
	top: 6rem

.item
	height: 6rem
	display: flex
	justify-content: center
	align-items: center
	margin: 1rem
