.productions-tree-invisible
	display: none

.productions-tree ul,
.productions-tree li
		margin-top: 0
		margin-bottom: 0
		list-style-type: none

.productions-tree .mat-nested-tree-node div[role=group]
	padding-left: 5%

.productions-tree div[role=group] > .mat-tree-node
	padding-left: 5%

.link
	width: 66%

.checkbox
	text-align: center
	//margin-left: auto
	//margin-right: auto
	margin: 2rem auto 3rem auto

.image
	width: 90%
	margin-left: auto
	margin-right: auto

.tree-selector
	width: 66%
	justify-content: flex-start

.tree-item
	margin: 0 0 0 2rem
	//flex: 0 1 auto

.tree-content
	margin: 0 0 0 4rem

.adjust
	height: 1rem
	margin: 4px 0 4px 0
	
