<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="productions-tree">
	<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
		<div class="mat-tree-node  card-container adjust">
<!--
			<a *ngIf="node.path" class="card link" [routerLink]=node.path>
-->
			<a *ngIf="node.path" class="card link" [routerLink]="['/static/', node.path]">
				__DEV__{{node.name}}
			</a>
			<a *ngIf="node.science" class="card link" [routerLink]="['/science/', node.science, appTheme]">
				__DEV__{{node.name}}
			</a>
			<a *ngIf="node.url" class="card link" [href]=node.url target="_blank">
				{{node.name}}
			</a>
		</div>
	</mat-tree-node>
	<mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
		<div class="mat-tree-node card-container">
			<div class="card tree-selector" matTreeNodeToggle >
				<mat-icon class="mat-icon-rtl-mirror tree-item">
					{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
				</mat-icon>
				<span class="tree-item">
					{{node.name}}
				</span>
			</div>
		</div>
		<div [class.productions-tree-invisible]="!treeControl.isExpanded(node)" role="group">
			<ng-container matTreeNodeOutlet></ng-container>
		</div>
	</mat-nested-tree-node>
</mat-tree>


<div class="image">
	<img src="https://www.st4rsend.net/global-arch.svg" width="100%">
</div>
