<div class='container'>
<H1>Synergie des données</H1>
<H2>Connaissance des données</H2>
<H3>Comprendre la science</H3>
<p>
Str4rsend accompagne les acteurs économiques dans la compréhension des données, notamment informatiques, de manière abordable et concrête. 
</p>
<H2>Organisation des données</H2>
<H3>Vivre avec les données numérisées</H3>
<p>
L'acculturation à la science des données apporte les fondations nécessaires à la mise en oeuvre des mécaniques dites d'Intelligences Artificielles.</p>
<p>Associée au respect des bonnes pratiques dans la gestion des données, les consolidations traditionnelles (Tableaux de bord, Business Intelligence, etc…) se trouvent renforcées et mieux sécurisées.
</p>
<H2>Bénéficiez des avancées technologiques</H2>
<H3>Explorer un nouveau monde en étant accompagné </H3>
<p>
La mise en pratique dans un environnement fonctionnel permet à chacun d'approfondir ses points d'intérêts en situation et à la demande.
</p>
<H1>Les bases utiles</H1>
<H2>La science des données</H2>
<p>
De manière pratique et en évitant tant que possible les formalismes mathématiques nous essayerons de nous familiariser avec:
<li>Les distributions,</li>
<li>Les statistiques,</li>
<li>Les probabilités,</li>
<li>Les corrélations.</li>
<li>La logique.</li>
</p>
<H2>La gestion des données</H2>
<p>
Il est important de porter un soin particulier et régulier à la gestion des données, ne serait-ce que pour se conformer aux lois. Surtout il est important qu'elles soient sécurisées et restent accessibles dans des conditions acceptables.</p>
<p>Nous nous attarderons ici sur les bonnes pratiques concernant:
<li>Le stockage,</li>
<li>La sauvegarde,</li>
<li>La rétention,</li>
<li>La sécurité,</li>
<li>La disponibilité,</li>
<li>Les contraintes légales.</li>
</p>
<H1>Vos données dans votre contexte</H1>
<H2>Dans un monde en voie de numérisation</H2>
<H3>Moult données informatiques</H3>
<p>
Les relations hommes machines sont omniprésentes dans les sociétés industrialisées.
</p><p>Les acteurs des échelles locales sont assaillis de flux d'informations  et contraints à devenir moteur au risque de se trouver relégués au rôle de spectateur.
</p>
<H2>Un monde où l'information se dilue dans le virtuel</H2>
<H3>Authenticité questionnée</H3>
<p>Quelle est la réalité d'une information? Hier raison d'être des universités ou de machines spécialisées, aujourd'hui déclenchées par simple intéraction avec un smartphone.
</p><p>
Ces affirmations de réalités tributaires du porteur seront-elles opportunes ou destinées à l'oubli?
</p>
<H2>Un monde où les informations prétendent orienter le quotidien</H2>
<H3>Utilité ou fardeau ?</H3>
<p>
Machines pourvues de capteurs multiples, vêtements, accessoires dits intelligents prêts à vous submerger de leurs mesures et suggestions associées.
</p>
<H2>Vos données deviennent votre challenge !</H2>
<H1>St4rsend accompagne les entreprises sur le chemin des IAs.</H1>
<div class="card-container">
  <a class="card button-link" [routerLink]="['/productions', appTheme]"> Vers les outils</a>
</div>
</div>
