<div class='container'>
<H1>Stratégie</H1>
<H2>Contexte</H2>

<p>L'environnement informatisé évolue vite :</p>
<ul>
<li>Les populations adoptent l'IA dans leur vie quotidienne,</li>
<li>Les offres IA professionnelles se multiplient,</li>
<li>L'arrivée des IA conversationnels redéfinit la carte des compétences et des accès à la connaissance.</li>
<li>De nombreux métiers vont être transformés par l'arrivée des IA,</li>
<li>La capacité de l'entreprise à intégrer les IA se pose en challenge sur la route de l'entreprise.</li> 
</ul>
<H2>Challenge</H2>
<p>Comment identifier les IA pertinentes et comment les intégrer à l'entreprise ?</p>
<p>L'intégration d'une ou plusieurs IA est un changement important dans les processus de l'entreprise et pour la vie de ses acteurs.</p>
<p>Il faut répondre à quelle IA pour quel gain en considérant les risques et la charge des changements que cela implique.</p> 
<H2>Pari</H2>

<H3>L'être humain en pivot</H3>
<p>St4rsend parie sur les hommes et les femmes de l'entreprise.</p>
<p>Ce sont eux qui chacun à leur niveau vivent le business de l'entreprise au quotidien.</p>
<p>Toutes les strates de l'entreprise sont concernées chacune à sa manière.</p>
<H3>L'acculturation aux IA</H3>
<p>L'acquisition des connaissances utiles sur le monde des IA permettra aux personnes d'évoluer dans l'entreprise de demain vers les activités :</p>
<ul>
<li>Les plus utiles d'une part,</li>
<li>Adaptées à leurs attentes d'autre part.</li>
</ul>
<H1>Acculturation</H1>
<H2>Organisation</H2>
<H3>Naviguer dans un contexte numérique</H3>
<p>La mise en oeuvre des bonnes pratiques dans la gestion des données renforce la sécurité et bénéficie aux consolidations traditionnelles (Tableaux de bord, Business Intelligence, etc…).
</p>
<H2>Connaissances</H2>
<H3>Approcher la science des données</H3>
<p>
Str4rsend accompagne les acteurs économiques dans la compréhension des données, de manière abordable et concrète, dans le respect des bases scientifiques. 
</p>
<H2>Synergies</H2>
<H3>Entretenir un terrain fertile</H3>
<p>Les données correctement gérées et préparées apportent les fondations propices au déploiement des mécaniques d'Intelligences Artificielles.</p>
<H1>Fondamentaux</H1>
<H2>Gestion des données</H2>
<H3>Suivre les bonnes pratiques</H3>
<p>
La gestion des données nécessite un soin rigoureux et régulier, ne serait-ce que pour se conformer aux législations en vigueur. Les données doivent aussi être sécurisées et rester accessibles dans des conditions acceptables.</p>
<p>Les bonnes pratiques développées concernent notamment :</p>
<ul>
<li>Le stockage,</li>
<li>La rétention,</li>
<li>La disponibilité,</li>
<li>La sécurité et la législation.</li>
</ul>
<H2>Science</H2>
<H3>Confronter les préjugés</H3>
<p>La démarche scientifique propose une approche où le doute est légitime et l'objectif de répondre à des questions bien posées ; la manière de définir le problème (framing en anglais) est centrale, ceci est d'autant plus vrai lorsque des outils informatisés sont mis à contribution.</p>
<p>Les connaissances scientifiques d'aujourd'hui résultent du consensus scientifique c'est à dire ce qui est consensuellement admis par les chercheurs du monde entier.</p>
<p>La science nous apprend qu'il faut savoir se méfier des intuitions et parfois du bon sens.</p>
<p>Les méthodes scientifiques nous aident à rester objectifs et parfois nous amènent à penser <i>contre notre cerveau</i>.
<p>
A l'aide d'exemples pratiques nous essayerons de nous familiariser avec les règles et notions utiles concernant :</p>
<ul>
<li>Les variables statistiques,</li>
<li>Les probabilités,</li>
<li>La logique et les  corrélations.</li>
</ul>
<H2>Exploration</H2>
<H3>La ruée vers l'or (WiP)</H3>
<p>La promesse des IA actuelles commence en 2010 avec les modèles prévisionnels pour l'IoT et agrégants pour le marketing, puis rebondit en 2020 avec les IA dites conversationnelles qui recueillent l'adoption du grand public.</p>
<p>Sous quelle forme se réalisera-t-elle dans les années à venir ? A quelle vitesse les entreprises et les sociétés vont-elles se transformer ?</p>
<p>Pas de manuel pour répondre à ces questions, il va falloir observer pour trouver les inspirations.</p>
<p>Surtout il va falloir explorer, c'est à dire pratiquer ces IA qui débarquent, les expérimenter dans le contexte spécifique de l'entreprise. Pour cela il faut s'armer en repères, en connaissance, adopter un état d'esprit curieux, et créer un environnement propice à l'exploration.</p>
<div class="bottom">
	<div class="card-container">
  	<a class="card button-link" [routerLink]="['/productions', appTheme]">Contenu</a>
	</div>
</div>
</div>
