<div class='container'>
<H1>Culture des données</H1>
<H2>Organisation</H2>
<H3>Naviguer dans un contexte numérique</H3>
<p>La mise en oeuvre des bonnes pratiques dans la gestion des données renforce la sécurité et bénéficie aux consolidations traditionnelles (Tableaux de bord, Business Intelligence, etc…).
</p>
<H2>Connaissances</H2>
<H3>Approcher la science des données</H3>
<p>
Str4rsend accompagne les acteurs économiques dans la compréhension des données, de manière abordable et concrète, dans le respect des bases scientifiques. 
</p>
<H2>Synergies</H2>
<H3>Entretenir un terrain fertile</H3>
<p>Les données correctement gérées et préparées apportent les conditions propices la mise en oeuvre des mécaniques d'Intelligences Artificielles.</p>
<H1>Bases utiles</H1>
<H2>Gestion des données</H2>
<H3>Suivre les bonnes pratiques</H3>
<p>
La gestion des données nécessite un soin rigoureux et régulier, ne serait-ce que pour se conformer aux législations en vigueur. Les données doivent aussi être sécurisées et rester accessibles dans des conditions acceptables.</p>
<p>Les bonnes pratiques développées concernent notamment:
<li>Le stockage,</li>
<li>La rétention,</li>
<li>La disponibilité,</li>
<li>La sécurité et la législation.</li>
</p>
<H2>Science</H2>
<H3>Confronter les préjugés</H3>
<p>La démarche scientifique propose une approche où le doute est légitime et l'objectif de répondre à des questions bien posées ; la manière de définir le problème (framing en anglais) est centrale, ceci est d'autant plus vrai lorsque des outils informatisés sont mis à contribution.</p>
<p>Les connaissances scientifiques d'auhourd'hui résultent du consensus scientifique c'est à dire ce qui est consensuellement admis par les chercheurs du monde entier.</p>
<p>La science nous apprend qu'il faut savoir se méfier des intuitions et parfois du bon sens.</p>
<p>Les méthodes scientifiques nous aident à rester objectifs et parfois nous amènent à penser <i>contre notre cerveau</i>.
<p>
A l'aide d'exemples pratiques nous essayerons de nous familiariser avec les règles et notions utiles concernant:
<li>Les variables statistiques,</li>
<li>Les probabilités,</li>
<li>La logique et les  corrélations.</li>
</p>
<div class="bottom">
	<div class="card-container">
  	<a class="card button-link" [routerLink]="['/productions', appTheme]">Contenu</a>
	</div>
</div>
</div>
