@import "../variables.sass"

img
	max-width: 100%
	max-height: 100%

.container
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
	grid-template-rows: $menu-row-1 $menu-row-2 $menu-row-2 $menu-row-2 1fr 
	min-height: 100%

.logo-container
	margin: .5rem auto .5rem auto
	grid-column-start: 1
	grid-column-end: 2
	grid-row-start: 1
	grid-row-end: 2
	z-index: 1
	width: 100%
	display: flex
	align-items: center
	z-index: 10

.menu-container
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 1
	grid-row-end: 2
	display: flex
	z-index: 10
	width: 100%

.title 
	grid-column-start: 3
	grid-column-end: 5
	grid-row-start: 1
	grid-row-end: 2
	display: flex
	align-items: center
	justify-content: center
	z-index: 2

.button-contact
	grid-column-start: 5
	grid-column-end: 7
	grid-row-start: 1
	grid-row-end: 2
	z-index: 2
	display: flex
	justify-content: center
	width: 100%

.logo
	margin: .5rem auto .5rem auto
	height: 80%
	width: 50%

.menu-scroll
	display: flex
	justify-content: center
	align-items: center

.menu-fixed
	opacity: .8
	background-color: transparent
	left: 16.5%
	position: fixed
	margin-top: 1rem
	margin-left: 0.1rem

.button-home
	grid-column-start: 2
	grid-column-end: 6
	grid-row-start: 2
	grid-row-end: 3
	z-index: 2

.button-intro
	grid-column-start: 2
	grid-column-end: 6
	grid-row-start: 3
	grid-row-end: 4
	z-index: 2

.button-productions
	grid-column-start: 2
	grid-column-end: 6
	grid-row-start: 4
	grid-row-end: 5
	z-index: 2

.main-body
	border-width: 0
	grid-column-start: 1
	grid-column-end: 7
	grid-row-start: 5
	grid-row-end: 6
	z-index: 3
	margin: 0 0 0 0 

