<div class="container">
	<!-- <div class="background-repeat"></div> -->
	<div class="home card-container">
		<a class="card" routerLink="/home">Accueil</a>
	</div>
	<div class="title">
		<h1 align='center'>St4rsend</h1>
	</div>
	<div class="contact card-container">
		<a class="card" routerLink="/contacts">Contact</a>
	</div>
	<div class="item-documentation card-container">
		<a class="card" routerLink="/doc">Documentation</a><BR>
	</div>
	<div class="item-home card-container">
		<a class="card" routerLink="/intro">Acculturation</a>
	</div>
	<div class="item-ml card-container">
		<a class="card" routerLink="/ml">Machine Learning</a>
	</div>
	<div class="main-body">
		<router-outlet></router-outlet>
	</div>
</div>
