<!-- <div [ngClass]="appTheme" [ngClass]="menuStyle"> -->

<div [ngClass]="appTheme" class="container">
	<div [ngClass]="panelDisplay ? 'title-panel' : 'title-no-panel'">
		<img src="assets/St4rsend_logo_20220803-Text.png">
	</div>
	<div class="card-container" [ngClass]="panelDisplay ? 'button-contact-panel' : 'button-contact-no-panel'">
		<a class="card" routerLink="/contacts">Contacts</a>
	</div>
	<div [ngClass]="panelDisplay ? 'buttons-panel' : 'buttons-no-panel'">
		<div class="card-container">
			<a class="card" routerLink="/home">Intelligences Artificielles</a>
		</div>
		<div class="card-container">
			<a class="card" [routerLink]="['/intro', appTheme]">Stratégie</a>
		</div>
		<div class="card-container">
			<a class="card" [routerLink]="['/productions', appTheme]">Contenu</a>
		</div>
	</div>
	<div class="menu-container">
		<div [ngClass]="[appTheme, menuStyle]">
			<button mat-icon-button routerLink="/home" aria-label="Aria label">
				<mat-icon>home</mat-icon>
			</button>
			<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Aria label">
				<mat-icon>menu</mat-icon>
			</button>
			<mat-menu #menu="matMenu" class="mat-menu-overflow">
				<button mat-menu-item>
					<mat-slide-toggle
						labelPosition='before' 
						[(ngModel)]="stickyMenu"
						(change)='menuSet()'>Sticky menu 
					</mat-slide-toggle>
				</button>
				<button mat-menu-item>
					<mat-slide-toggle
						labelPosition='before' 
						[(ngModel)]="stickyBottom"
						(change)='bottomSet()'>Sticky bottom 
					</mat-slide-toggle>
				</button>
				<button mat-menu-item>
					<mat-slide-toggle
						labelPosition='before' 
						[(ngModel)]="darkTheme"
						(click)="$event.stopPropagation();"
						(change)='themeSet()'> Dark mode
					</mat-slide-toggle>
				</button>
			</mat-menu>
		</div>
	</div>
	<div class="logo-container">
		<div class="logo">
			<img src="assets/St4rsend_logo_large_1.svg">
		</div>
	</div>
	<div class="main-body">
	<!--
		<router-outlet></router-outlet>
	-->
		<app-main-body></app-main-body>
	</div>
</div>
<app-fixed-panel *ngIf="panelDisplay"></app-fixed-panel>
