<!-- <div [ngClass]="appTheme" [ngClass]="menuStyle"> -->
<div [ngClass]="[appTheme, menuStyle]">
	<button mat-button [matMenuTriggerFor]="menu" aria-label="Aria label">
		<mat-icon>menu</mat-icon>
	</button>
	<mat-menu #menu="matMenu" class="mat-menu-overflow">
		<button mat-menu-item>
			<mat-slide-toggle
				labelPosition='before' 
				[(ngModel)]="darkTheme"
				(click)="$event.stopPropagation();"
				(change)='themeSet()'> Dark mode
			</mat-slide-toggle>
		</button>
		<button mat-menu-item>
			<mat-slide-toggle
				labelPosition='before' 
				[(ngModel)]="fixedMenu"
				(change)='menuSet()'>Fixed menu 
			</mat-slide-toggle>
		</button>
	</mat-menu>
</div>

<div [ngClass]="appTheme" class="container">
	<div class="button-home card-container">
		<a class="card" routerLink="/home">Accueil</a>
	</div>
	<div class="title">
		<img src="https://www.st4rsend.net/medias/St4rsend_logo_20220803-Text.png">
	</div>
	<div class="button-contact card-container">
		<a class="card" routerLink="/contacts">Contacts</a>
	</div>
<!--
	<div class="item-documentation card-container">
		<a class="card" routerLink="/doc">Divers</a><BR>
	</div>
-->
	<div class="button-intro card-container">
		<a class="card" routerLink="/intro">Production</a>
	</div>
	<div class="button-productions card-container">
		<a class="card" [routerLink]="['/productions', appTheme]">Outils</a>
	</div>
	<div class="logo logo-filter">
		<img src="https://www.st4rsend.net/medias/St4rsend_logo_large_1.svg">
	</div>
	<div class="main-body">
	<!--
		<router-outlet></router-outlet>
	-->
		<app-main-body></app-main-body>
	</div>
</div>
<app-fixed-panel *ngIf="panelDisplay"></app-fixed-panel>
