<div class="container">
<!--
	<button (click)="readDoc()">Read</button>
-->
	<div style="text-align:center"><H4  style="text-align:center">{{path}}</H4></div>
	<ng-template #dynamicHost></ng-template>
	<div class="bottom-section" [ngClass]="bottomStyle">
		<div class="card-container bottom-button">
			<a class="card" (click)='buttonTop()'>Top</a>
		</div>
		<div class="card-container bottom-button">
			<a class="card" [routerLink]="['/productions', appTheme]">Liste</a>
		</div>
	</div>
	<div class="overlay-container" [ngClass]="{ 'show': showOverlay, 'hide': !showOverlay }"
		style="display: {{showOverlay ? 'block' : 'none' }}"
		(click)="hideOverlay()">
		{{ overlayContent }}
	</div>
</div>
