@use '@angular/material' as mat;
@use 'src/cards';

@use 'st4rsend-light-palette' as palette;

$light-primary: mat.m2-define-palette(palette.$st4rsend-light-primary, 500);
$light-accent:  mat.m2-define-palette(palette.$st4rsend-light-primary, A200, A100, A400);
$light-warn:    mat.m2-define-palette(mat.$m2-red-palette);
$light-background:  mat.m2-define-palette(palette.$st4rsend-light-background);
$light-foreground:  mat.m2-define-palette(palette.$st4rsend-light-foreground);

$background-color: mat.m2-get-color-from-palette($light-background,50);
$background2-color: mat.m2-get-color-from-palette($light-background,100);
$foreground-color: mat.m2-get-color-from-palette($light-foreground,800);
$foreground2-color: mat.m2-get-color-from-palette($light-foreground,900);

$light-theme: mat.m2-define-light-theme((
	color: (
		primary: $light-primary,
		accent: $light-accent,
		warn: $light-warn,
	),
	typography: mat.m2-define-typography-config(),
	density: 0,
));

.light-theme {
	background-color: $background-color;
	color: $foreground-color;

	@include mat.elevation-classes();
	@include mat.app-background();
	//@include mat.all-component-themes($light-theme)
	@include mat.button-theme($light-theme);

	label {
		color: $foreground-color;
	}
	.ngx-charts g.tick text {
		fill: mat.m2-get-color-from-palette($light-foreground,A400);
	}
	.ngx-charts .axis>g>text{
		fill: $foreground-color
	}

	H1 {
		color: mat.m2-get-color-from-palette($light-foreground,800);
	}
	H2 {
		background-image: linear-gradient(to right, $foreground-color, 75%, $background-color 90%);
		color: mat.m2-get-color-from-palette($light-background,50);
	}
	H3 {
		color: mat.m2-get-color-from-palette($light-foreground,A400);
	}
	H4 {
		color: $foreground2-color;
	}
	pre {
		background-color: $background2-color;
	}
	.card {
		background-color: mat.m2-get-color-from-palette($light-background,100);
		color: mat.m2-get-color-from-palette($light-foreground,800);
	}
	.card.highlight-card {
		background-color: mat.m2-get-color-from-palette($light-background,200);
	}
	.card-container {
		background-color: $background-color;
	}
	.mat-tree {
		background-color: $background-color;
	}
}

.system {
	color: mat.get-theme-color($light-theme, warn, A200);
}

.user {
	color: mat.m2-get-color-from-palette($light-foreground,A200);
}

.assistant {
	color: mat.m2-get-color-from-palette($light-foreground,500);
}
