@import '@angular/material/theming';

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@mixin light-mixin-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .mat-mdc-menu-content {
    background-color: mat-color($light-background, background);
  }

  .mat-mdc-menu-panel {
    background-color: mat-color($light-background, background);
  }

  .mat-mdc-menu-item {
    color: mat-color($light-foreground, text);
  }
}
