/* You can add global styles to this file, and also import other style files */
@use 'cards'
@import 'variables'
@import '../../st4rsend.sass'


html
	height: 100%
	overflow: auto
//	background-image: url('/assets/chariot_inv.png') 
	background-attachment: fixed
	background-size: 100% 100%

body
	margin: 0
	height: 100%
	//text-size-adjust: auto
//	color: #333


.card-container
	background-color: #ffffff


.logo-filter
	filter: invert(11%) sepia(100%) saturate(5695%) hue-rotate(296deg) brightness(41%) contrast(106%)
	opacity: .75
