<div class='container'>
<H1>Quid des IA ?</H1>
<H2>Comprendre les enjeux</H2>
<p>La percée des Intelligences Artificielles (IA) vous interpelle?</p>
<H2>Opportunités et menaces</H2>
<p>Quelles sont les opportunités?</p>
<p>Comment évaluer les risques? </p>
<H1>Les données en centre de gravité</H1>
<H2>3 axes</H2>
<p>St4rsend propose d'instruire les entreprises sur les données informatiques selon 3 axes:<p>
<ul>
<li>La science des données,</li>
<li>La gestion des données,</li>
<li>La valeur des données.</li>
</ul>
<H1>Cultivons l'avenir</H1>
<p>Une vision actualisée vous permettra:</p>
<ul>
<li>De travailler les synergies propres à vos données,</li>
<li>D'envisager les solutions d'IA pertinentes.</li>
</ul>
<div class="card-container">
	<a class="card button-link" routerLink="/intro">Aller à la production</a>
</div>
</div>
