.container
	width: 90%
	margin-left: auto
	margin-right: auto
	margin-top: 1em
	display: grid
	overflow: hidden
	grid-template-columns: 1fr 12em 
	grid-template-rows: 10rem 18rem 12rem 1fr

.logo
	width: 90%
	opacity: 0.80
	margin-left: auto
	margin-right: 0
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 3
	grid-row-end: 4
	filter: invert(11%) sepia(100%) saturate(5695%) hue-rotate(296deg) brightness(41%) contrast(106%)

.portrait
	//width: 90%
	opacity: 0.85
	margin-left: auto
	margin-right: 0
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 2
	grid-row-end: 3

.animation
	width: 90%
	margin-left: auto
	margin-right: 0
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 1
	grid-row-end: 2



.left
	height: 50em
	grid-column-start: 1
	grid-column-end: 2
	grid-row-start: 1
	grid-row-end: 5

.item-solution
	justify-content: center
