.container
	width: 90%
	margin-left: auto
	margin-right: auto
	margin-top: 1em
	display: grid
	overflow: hidden
	grid-template-columns: 1fr 12em 
	grid-template-rows: 12em 12em 12em 1fr

.logo
	width: 80%
	margin-left: auto
	margin-right: auto
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 1
	grid-row-end: 2

.portrait
	width: 80%
	margin-left: auto
	margin-right: auto
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 2
	grid-row-end: 3

.animation
	width: 80%
	margin-left: auto
	margin-right: auto
	grid-column-start: 2
	grid-column-end: 3
	grid-row-start: 3
	grid-row-end: 4



.left
	height: 50em
	grid-column-start: 1
	grid-column-end: 2
	grid-row-start: 1
	grid-row-end: 5

.bottom-filler
