<div class='container'>
<H1>Intelligences Artificielles (IA)</H1>
<H6>St4rsend propose d'améliorer les synergies entre le entreprise et les Intelligences Artificielles (IA).</H6>
<H2>Trois domaines sont travaillés</H2>
<H3>La gestion des données</H3>
<p>Sécuriser, sauvegarder, rendre accessible.</p>
<H3>L'approche scientifique des données</H3>
<p>Se familiariser avec les notions scientifiques utiles au traitement des données informatisées.</p>
<H3>L'exploration des mécaniques IA</H3>
<p>Acquérir une culture générale des IA.</p>
<H2>Ces pilliers améliorent la cohésion</H2>
<ul>
<li>Par la bonne intégration des données à la stratégie de l'entreprise,</li>
<li>Par l'identification des solutions IA les plus pertinentes,</li>
<li>Afin de maximiser l'impact des synergies.</li>
</ul>
<H6>La mission de St4rsend: Accompagner l'entreprise sur le chemin des IA.</H6>
<div class="bottom">
	<div class="card-container">
		<a class="card button-link" [routerLink]="['/intro', appTheme]">Stratégie</a>
	</div>
</div>
</div>
