<div class='container'>
<H5>St4rsend propose d'améliorer les synergies entre les entreprises et les Intelligences Artificielles (IA).</H5>
<H1>Trois domaines sont travaillés</H1>
<H2>La gestion des données</H2>
<p>Sécuriser, sauvegarder, rendre accessible.</p>
<H2>L'approche scientifique des données</H2>
<p>Se familiariser avec les notions scientifiques utiles au traitement des données informatisées.</p>
<H2>L'exploration des mécaniques IA</H2>
<p>Acquérir une culture générale des IA.</p>
<H1>Ces pilliers améliorent la cohésion</H1>
<ul>
<li>Par la bonne intégration des données à la stratégie de l'entreprise,</li>
<li>Par l'identification des solutions IA les plus pertinentes,</li>
<li>Afin de maximiser l'impact des synergies.</li>
</ul>
<H5>La mission de St4rsend: Accompagner l'entreprise sur le chemin des IA.</H5>
<div class="bottom">
	<div class="card-container">
		<a class="card button-link" [routerLink]="['/intro', appTheme]">Culture des données</a>
	</div>
</div>
</div>
